
@{
    ViewData["Title"] = "Delete Order";
}

<h2>DeleteOrder</h2>


<h3>Are you sure you want to delete this?</h3>
<div>
    <form asp-action="DeleteOrder">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
